<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<div class="navbar-item">

    <button mat-button class="" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{user.name}}</button>

        <a routerLink="/profile">
            <button mat-menu-item>Profil</button>
        </a>
        <a routerLink="/settings">
            <button mat-menu-item>Ayarlar</button>
        </a>
        <a routerLink="/logout">
            <button mat-menu-item>Çıkış</button>
        </a>
    </mat-menu>
    <!-- Theme changer is disabled -->
    <!-- <mat-select (selectionChange)="setTheme($event.value)" [(ngModel)]="theme" style="margin: 0 20px;min-width: 75px">
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
            <svg height="100" width="75">
                <circle cx="45" cy="60" r="15" [attr.stroke]="theme.stroke" stroke-width="3" [attr.fill]="theme.fill" />
            </svg>
        </mat-option>
    </mat-select> -->
</div>